@media screen and (max-width:1740px){
    header{
        padding: 14px 2%;
    }

    .main{
        left: 2%;
        transition: .2s;
    }

    .bottom{
        right: 2%;
        transition: .2s;
    }
}

@media screen and (max-width:1625px){
    :root{
        --h1-font: 4rem
    }
}

@media screen and (max-width:1400px){
    :root{
        --h1-font: 4rem
    }
    .row{
        height: 60px;
        width: 60px;
    }
    .row2{
        height: 60px;
        width: 60px;
    }
    .row3{
        height: 60px;
        width: 60px;
    }
    .main li img{
        width: 40px;
    }
}

@media screen and (max-width:1150px){
    section{
        padding: 0 6%;
    }

}

@media screen and (max-width:1000px){
   section{
    padding: 40px 18%;
   }
   .home{
    height: auto;
    grid-template-columns: 1fr;
   }
   .home-img{
    text-align: center;
    margin-top: 80px;
    
   }
   .home-img img{
    width: 400px;
    height: auto;
    max-width: 100%;
   }
   :root{
    --h1-font: 4rem
   }
   .home-text{
    text-align: center;
   }
   .home-text h5{
    margin-bottom: 15px;
   }
   .home-text h3{
    font-size: 45px;
    margin-bottom: 45px;
   }
   .bottom{
    display: none;
   }

}

@media screen and (max-width:890px){
    .Navbar{
        position: absolute;
        top: 100%;
        right: -200%;
        width: 200px;
        background-color: var(--main-color);
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: flex-start;
        padding: 20px;
        border-radius: 4px;
        transition: all .55s ease;
    }
    .Navbar a{
        display: block;
        margin: 4px 0;
        transition: all .45s ease;
    }
    .Navbar a:hover{
        transform: translateY(5px);
        color: var(--text-color);
    }
    .Navbar a.active{
        color: var(--text-color);
    }
    .navbar.open{
        right: 2%;
    }
}

@media screen and (max-width:600px){
    section{
        padding: 100px 18% ;
    }
    .home{
        height:auto;
    }
    .home-img img{
        width: 300px;
        height: auto;
        max-width: 100%;
    }
    :root{
        --h1-font:2.1rem;
    }
    
}